<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.praca_inz" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.hardware.sensor.compass" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CarInfoActivity"
            android:label="@string/title_activity_car_info"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name=".Activities.AddFuelingActivity"
            android:label="@string/title_activity_add_fueling"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name=".Activities.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/MyMaterialTheme" >
        </activity>
        <activity
            android:name=".Activities.NavigationActivity"
            android:theme="@style/MyMaterialTheme" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCL8W3hccQOMrNDAEAqd6aD_Vf3eClbtws" />

        <activity
            android:name=".Activities.PreviewMapActivity"
            android:label="@string/title_activity_preview_map"
            android:theme="@style/MyMaterialTheme" >
        </activity>
    </application>

</manifest>
